.container {
  position: relative;
  width: 980px;
  margin: 0 auto; }
  .container.medium {
    width: 768px; }

.logo {
  display: block;
  width: 100px; }
  .logo svg {
    width: 100%; }

nav {
  font-size: 1.3em;
  font-weight: 500; }
  nav li {
    display: inline-block;
    padding-top: 20px; }
    nav li a {
      padding: 20px;
      text-decoration: none; }
      nav li a:hover {
        background: rgba(255, 255, 255, 0.1); }

header {
  position: absolute;
  height: 90px;
  left: 0;
  right: 0;
  z-index: 2;
  background: #202731;
  background: linear-gradient(135deg, #202731 0%, #1d465e 100%); }
  header nav {
    position: absolute;
    top: 10px;
    right: 0; }
    header nav li a {
      color: white;
      text-transform: uppercase; }
      header nav li a:hover {
        color: white; }
      header nav li a:visited {
        color: white; }
        header nav li a:visited:hover {
          color: white; }
      header nav li a.btn.btn-secondary {
        background-color: #f68e1f;
        color: #1d465e;
        margin-left: 14px; }
        header nav li a.btn.btn-secondary:hover {
          color: #1d465e; }
  header .logo {
    position: relative;
    top: 16px; }

.content {
  position: relative;
  top: 90px;
  margin-bottom: 150px;
  color: #45667b;
  font-size: 1.08em; }
  .content h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
    text-align: center; }
  .content h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px;
    padding-right: 30px;
    padding-bottom: 6px;
    border-bottom: 5px solid lightgrey;
    font-size: 2em;
    font-weight: 500; }
  .content h3 {
    font-size: 1.4em;
    font-weight: 500; }
  .content h4 {
    font-size: 1.2em;
    font-weight: 500; }
  .content p {
    line-height: 1.4em; }
  .content ul {
    list-style-type: square;
    margin-left: 30px;
    margin-bottom: 16px; }
    .content ul li {
      max-width: 80%;
      margin-bottom: 10px;
      line-height: 1.4em; }
  .content .group {
    margin-bottom: 30px; }

.home header {
  background: transparent; }
  .home header nav li a.btn.btn-secondary {
    background-color: #f68e1f;
    color: #333; }

footer {
  background: #e6e6e6; }
  footer nav {
    margin-top: 30px;
    font-size: 1.4em;
    font-weight: 500; }
    footer nav ul {
      float: left; }
    footer nav .copyright {
      float: right;
      margin-top: 20px; }
  footer .copyright {
    font-size: 0.6em; }
  footer.textonly {
    padding: 40px 0 20px; }

.textonly {
  padding: 40px 0;
  color: #999;
  font-size: 1.1em; }
  .textonly h2 {
    font-size: 2.2em;
    font-weight: 500;
    color: #777; }
  .textonly h3 {
    font-size: 1.8em;
    font-weight: 500;
    color: #777; }

.text-center .grid {
  text-align: center; }

@media (max-width: 980px) {
  .container {
    width: 768px; } }

@media (max-width: 768px) {
  .container {
    width: 95%; }
    .container.medium {
      width: 85%; } }

@media (max-width: 480px) {
  nav li a {
    padding: 10px; }
  .copy h1 {
    font-size: 2.4em; } }
