.container {
  position: relative;
  width: 980px;
  margin: 0 auto;

  &.medium {
    width: 768px;
  }
}

.logo {
  display: block;
  width: 100px;

  svg {
    width: 100%;
  }
}

nav {
  font-size: 1.3em;
  font-weight: 500;

  li {
    display: inline-block;
    padding-top: 20px;

    a {
      padding: 20px;
      // color: #666;
      text-decoration: none;

      &:hover {
        background: rgba(255,255,255, 0.1);
      }
    }
  }
}

header {
  position: absolute;
  height: 90px;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(32,39,49,1);
  background: linear-gradient(135deg, rgba(32,39,49,1) 0%, rgba(29,70,94,1) 100%);

  nav {
    position: absolute;
    top: 10px;
    right: 0;

    li {

      a {
        color: white;
        text-transform: uppercase;

        &:hover {
          color: white;
        }

        &:visited {
          color: white;

          &:hover {
            color: white;
          }
        }

        &.btn.btn-secondary {
          background-color: #f68e1f;
          color: #1d465e;
          margin-left: 14px;
          // color: #02a7b9;

          &:hover {
            // color: #02a7b9;
            color: #1d465e;
          }
        }
      }
    }
  }

  .logo {
    position: relative;
    top: 16px;
  }
}

.content {
  position: relative;
  top: 90px;
  margin-bottom: 150px;
  color: #45667b;
  font-size: 1.08em;

  h1 {
  margin: 0;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px;
    padding-right: 30px;
    padding-bottom: 6px;
    border-bottom: 5px solid lightgrey;
    font-size: 2em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 500;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 500;
  }

  p {
    line-height: 1.4em;
  }

  ul {
    list-style-type: square;
    margin-left: 30px;
    margin-bottom: 16px;

    li {
      max-width: 80%;
      margin-bottom: 10px;
      line-height: 1.4em;
    }
  }

  .group {
    margin-bottom: 30px;
  }
}

.home, .about {
  header {
    background: transparent;

    nav {
      li {
        a {
          &.btn.btn-secondary {
            background-color: #f68e1f;
            color: #333;
          }
        }
      }
    }
  }
}

footer {
  background: #e6e6e6;

  nav {
    margin-top: 30px;
    font-size: 1.4em;
    font-weight: 500;

    ul {
      float: left;
    }
    .copyright {
      float: right;
      margin-top: 20px;
    }
  }

  .copyright {
    font-size: 0.6em;
  }
}

.textonly {
  padding: 40px 0;
  color: #999;
  font-size: 1.1em;

  h2 {
    font-size: 2.2em;
    font-weight: 500;
    color: #777;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 500;
    color: #777;
  }
}

.text-center {
  .grid {
    text-align: center;
  }
}

@media (max-width: 980px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;

    &.medium {
      width: 85%;
    }
  }
}

@media (max-width: 480px) {
  nav {
    li {
      a {
        padding: 10px;
      }
    }
  }

  .copy h1 {
    font-size: 2.4em;
  }

  footer.textonly {
    padding: 30px 20px;
  }
}
