.container {
  position: relative;
  width: 980px;
  margin: 0 auto; }

.logo {
  display: block;
  width: 100px; }
  .logo svg {
    width: 100%; }

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2; }
  header nav {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 1.3em;
    font-weight: 500; }
    header nav li {
      display: inline-block;
      padding: 20px; }
      header nav li a {
        color: white; }
        header nav li a:visited {
          color: white; }
        header nav li a.btn.btn-secondary {
          color: #333; }
  header .logo {
    position: relative;
    top: 16px; }
