.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100px;

  svg {
    width: 100%;
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  nav {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 1.3em;
    font-weight: 500;

    li {
      display: inline-block;
      padding: 20px;

      a {
        color: white;

        &:visited {
          color: white;
        }

        &.btn.btn-secondary {
          color: #333;
        }
      }
    }
  }

  .logo {
    position: relative;
    top: 16px;
  }
}
