@import 'colors';

// Global
body {
  font-family: 'Roboto', sans-serif;
  // font-weight: 400;
  font-size: 0.8em;
  line-height: 1em;
  color: $color-grey-60;
  background: white;

  &.loading {
    &:before {
      z-index: 9999;
    }
    &:after {
      z-index: 999999;
    }
  }
}

a {
  // color: darken($color-highlight, 10%);
  // text-decoration: none;
  color: #00a4b7;
  text-decoration: underline;

  &:hover {
    color: #00a4b7;
    // color: lighten($color-highlight, 70%);
  }

  &:visited {
    color: #00a4b7;
    // color: darken($color-highlight, 10%);
  }
}
