.color-success {
  color: #45c97a; }

.color-bg-success {
  background-color: #45c97a; }

.color-neutral {
  color: #f68e1f; }

.color-bg-neutral {
  color: #fff;
  background-color: #f68e1f; }

.color-warning {
  color: #f7d114; }

.color-bg-warning {
  background-color: #f7d114; }

.color-error {
  color: #e91e63; }

.color-bg-error {
  color: #fff;
  background-color: #e91e63; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  color: #808080;
  background: white; }
  body.loading:before {
    z-index: 9999; }
  body.loading:after {
    z-index: 999999; }

a {
  color: #00a4b7;
  text-decoration: underline; }
  a:hover {
    color: #00a4b7; }
  a:visited {
    color: #00a4b7; }
