.Help {
  position: relative;
  height: 100vh;
  z-index: 1;
  background-color: blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white; }

.copy {
  position: absolute;
  top: calc(50vh - 80px);
  right: 0;
  text-align: right; }
