.Help h3 {
  font-size: 1.6em;
  background: #efefef;
  padding: 16px; }
  .Help h3 a {
    display: none;
    text-decoration: none; }
  .Help h3:hover a {
    display: inline-block; }

.Help p, .Help ul {
  font-size: 1.1em; }

.Help .group {
  margin-bottom: 40px; }
