.android .st0 {
  fill: #A6A6A6; }

.android .st1 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0.2;
  stroke-miterlimit: 10; }

.android .st2 {
  fill: #FFFFFF; }

.android .st3 {
  fill: url("#SVGID_1_"); }

.android .st4 {
  fill: url("#SVGID_2_"); }

.android .st5 {
  fill: url("#SVGID_3_"); }

.android .st6 {
  fill: url("#SVGID_4_"); }

.android .st7 {
  opacity: 0.2;
  enable-background: new; }

.android .st8 {
  opacity: 0.12;
  enable-background: new; }

.android .st9 {
  opacity: 0.25;
  fill: #FFFFFF;
  enable-background: new; }
