#download {
  background-color: #fff;
  padding: 40px 0; }
  #download .grid {
    text-align: center; }
    #download .grid a {
      display: inline-block;
      width: 100%; }
      #download .grid a svg {
        display: block; }

@media (max-width: 700px) {
  #download {
    width: 40%;
    margin: 0 auto; }
    #download .grid .grid__col {
      margin-bottom: 8px; } }
