.Home {
  .upper {
    position: relative;
    height: 100vh;
    z-index: 1;
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    color: white;

    .btn.btn-secondary {
      color: #333;
    }
  }
}

.copy {
  position: absolute;
  top: calc(50vh - 80px);
  right: 0;
  text-align: right;

  h1 {
    font-size: 3em;
    line-height: 1.4em;
  }
}
